body {
    margin: 0;

    background-color:rgb(116, 20, 98);

    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}

.card {
    width: 500px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(247, 198, 238);
    box-shadow: 0 0 10px white;
    border-radius: 10px;  
}

.card-prf {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 35px;
    text-align: center;
    color:rgb(189, 32, 66);
    font-family: 'Dosis', sans-serif;
}

.card-text {
    font-size: 20px;
    color:rgb(189, 32, 66);
    font-family: 'Dosis', sans-serif;
}

.card-subtitle{
    font-size: 30px;
    color:rgb(189, 32, 66);
    font-family: 'Dosis', sans-serif;
}

.card-list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 20px;
    color:rgb(189, 32, 66);
    font-family: 'Dosis', sans-serif;
}

.card-sm{
    font-size: 25px;
    color:rgb(189, 32, 66);
    font-family: 'Dosis', sans-serif;
}